/* NAVBAR */
*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   overflow:hidden;
}
.logo{
   font-size: 40px!important;
   padding-left: 30px;
 font-family: 'Lora', serif;
   padding-left: 30px;
 font-family: 'Lora', serif;
}
.logo a{
   text-decoration: none;
   color: rgb(241, 240, 240);
}

li,li a{
   text-decoration: none;
   align-items: center;
   font-size: 1.4rem;
   color: rgb(241, 240, 240);
   font-family: 'Roboto', sans-serif;
}
.nav-links ul{
   margin: 0;
   padding: 0;
   display: flex;
}
.nav-links li{
   list-style: none;
}
.nav-links li a{
   text-decoration: none;
   color: rgb(241, 240, 240);
   padding: 1rem;
   display: block;
}
.nav-links a:hover{
   color:rgb(221, 180, 92);
   transition: ease-in .2s; 
}
.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color:#3162bd;
   padding: 13px;
}
/*hamburger menu formatting*/
.toggle-button{
   position: absolute;
   top:.75rem;
   right: 1rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 31px;
   height: 21px;
}
.toggle-button .bar{
   height: 3px;
   width: 100%;
   background-color: rgb(241, 240, 240);
   border-radius: 10px;
}
/*media query*/
@media (max-width: 600px){
   .toggle-button{
       display: flex;
   }
   .nav-links{
       display: none;
       width: 100%;
   }
   .nav{
       flex-direction: column;
       align-items: flex-start;
   }
   .nav-links ul{
       width: 100%;
       flex-direction: column;
   }
   .nav-links li{
       text-align: center;
   }
   .nav-links li a{
       padding: .5rem 1rem;
   }
   .nav-links.active{
       display: flex;
   }
}
/* END OF NAVBAR CODE */

html, body{
   overflow-y: visible;
}
 .statements h1{
   color:black;
   padding-top: 3rem;
   text-align:center;
   font-family: 'Lora', serif;
}
.statements h2{
   color: black;
   padding-top: .5rem;
   text-align: center;
   font-family: 'Lora', serif;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 2rem;
   width: 33%;
   height: auto;
}
#footer{
   position: relative;
   bottom: 0;
   width: 100%;
   height: 20px;
   background-color: #3162bd;
   margin-top: 1rem;
}