/* NAVBAR */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow:hidden;
}
.logo{
    font-size: 40px!important;
    padding-left: 30px;
  font-family: 'Lora', serif;
    padding-left: 30px;
  font-family: 'Lora', serif;
 }
 .logo a{
    text-decoration: none;
    color: rgb(241, 240, 240);
 }

 li,li a{
    text-decoration: none;
    align-items: center;
    font-size: 1.4rem;
    color: rgb(241, 240, 240);
    font-family: 'Roboto', sans-serif;
 }
.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: rgb(241, 240, 240);
    padding: 1rem;
    display: block;
}
.nav-links a:hover{
    color:rgb(221, 180, 92);
    transition: ease-in .2s; 
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3162bd;
    padding: 13px;
}
/*hamburger menu formatting*/
.toggle-button{
    position: absolute;
    top:.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: rgb(241, 240, 240);
    border-radius: 10px;
}
/*media query*/
@media (max-width: 600px){
    .toggle-button{
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links li a{
        padding: .5rem 1rem;
    }
    .nav-links.active{
        display: flex;
    }
}
/* END OF NAVBAR CODE */
 
html, body{
    overflow-y: visible;
}
.left{
    position: relative;
    width: 38%;
    height: 100vh;
    float: left;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    text-align: center;
}
.left p, #subheading{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
#register{
    font-size: 1.5em;
    padding-top: 2rem;
} 
.right{
    position: relative;
    width: 62%;
    height: 100vh;
    float: left;
    text-align: center;
}
.right img{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.btnregister{
    cursor: pointer;
    background-color: #5096e6;
    border-color: black;
    border-width: 0.1em;
    border-radius: .4em;
    font-size: 1em;
    font-family: 'Lora', serif;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
    color: white;
}
.btnregister:hover {
    background-color: #98bfed;
    transition: ease-in .2s;
}
#footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #3162bd;
}